.soul-voyger_welcome-page {
    display: flex
}

.sidebar-welcome-page{
    color: black;
}
.content{
    /* padding-left: 12rem; */
    float: left;
    width: 100%;
    background-color: #D9D9D9;
    min-height: 100vh;
    padding: 20px ;
    
    
    /* align-self: center; */
    /* align-content: center; */
    /* overflow: hidden; */
}
.content .mainContent{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    padding: 15px;
    margin: auto;
    box-shadow: 1px 2px 12px #8a8a8a;
    border-radius: 10px;
}
.content .innerCard{
    box-shadow: 1px 2px 12px #8a8a8a;
    padding: 10px 20px;
}
.global_card{
    padding: 20px;
    box-shadow: 1px 2px 12px #8a8a8a;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width: 768px) {
    .soul-voyger_welcome-page {
        flex-direction: column
    }
    .content{
        padding-left: 3.5rem;
        width: 100%;
    }
    .global_card{
        padding: 10px;
    }
    .content .mainContent{
        width: 100%;
    }
}