/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: rgb(10, 11, 14);
	color: white;
}

html,
body,
.container-table {
	height: 100%;
}

.container-table {
	display: table;
}
.vertical-center-row {
	display: table-cell;
	vertical-align: middle;
	padding: 3rem;
}

.signinform {
	/* background-color: rgb(30 41 59); */
	background-color: #fff;
	padding: 3rem;
	border-radius: 25px;
	position: relative;
	color: #222429;
	/* min-width: 300px; */
}

.signintext {
	padding-bottom: 2rem;
	font-family: "Onest", sans-serif;
	font-size: 30px;
	color: #222429;
}
.SignInButton {
	margin-top: 2vh;
	border-radius: 50px !important;
	padding: 10px 50px !important;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	-webkit-border-radius: 50px !important;
	-moz-border-radius: 50px !important;
	-ms-border-radius: 50px !important;
	-o-border-radius: 50px !important;
}
.signinform input:focus{
	box-shadow: none;
}
.css-3hcm5q{
	box-shadow: 1px 2px 12px #22212162;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}
@media screen and (max-width: 700px) {
	
	.signinform{
		padding: 1rem;
	}
}